<a href="https://colab.research.google.com/github/ehlatham/PUS2022_ELathamGray/blob/main/In_class_z_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/fedhere/PUS2022_FBianco/main/classdemo/times.txt", header=None)

data

#mean = data.mean()
#std = data.std()

mean 
std

mu = 34
sigma = 2.5

In [ ]:
Z = (mu - data.mean())/(sigma - np.sqrt(len(data)))

z

0    1.790848
dtype: float64

In [ ]:
data.describe()

                0
count  100.000000
mean    34.466162
std      7.137280
min     16.527267
25%     30.020542
50%     34.693057
75%     39.603456
max     48.749877